@import "bootstrap/scss/functions";
@import "./common/variables";
@import "bootstrap/scss/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Montserrat);

@import "./common/loading.scss";
@import "./admin/pages/login.scss";
@import "./admin/layout/defaultLayout.scss";

* {
    margin: 0;
    padding: 0;
    list-style: none;
}
