@import "bootstrap/scss/functions";
@import "./variables";
@import "bootstrap/scss/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Montserrat);

@import "./admin/loading.scss";
@import "./admin/login.scss";

* {
    margin: 0;
    padding: 0;
    list-style: none;
}