.login_form {
  height: 100vh;
  background: url("https://i.imgur.com/faIrhVV.jpeg") no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;

  .login {
    background-color: rgba($black, 0.5);
    border-radius: 10px;
    border: 10px solid $light;
    box-shadow: 0 0 60px $black;
  }

  .form {
    margin: 3.5rem 5rem;

    .login_title {
      padding-right: 50px;
      margin-bottom: 20px;
      border-bottom: 1px solid $light;
    }

    .form_group {
      margin-bottom: 20px;
    }

    .form_input {
      line-height: 2rem;
      border-radius: 20px;
      background-color: rgba($black, 0.5);
      color: $gray-300;

      &::placeholder {
        color: rgba($gray-500, 0.5);
      }
    }

    .btn-sm {
      margin-top: 1rem;
      background: $gray-800;
      border: 1px solid $gray-500;
      padding: 5px 25px;
      width: 45%;

      & + .btn {
        background: rgba($gray-500, 0.5);
      }
    }
  }
}
